<% layout("/layouts/boilerplate") -%>
<body>
    <h3>ALL LISTINGS</h3>
    <form method="GET" action="/listings/new">
        <button>Add New List</button>

    </form>
    <br>
    <ul>
        <% for(let listing of alllistings){%>
            <li><a href="/listings/<%= listing._id%>"><%=listing.title %></a></li>
        <%}%>
    </ul>
</body>