<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
    <h2><center>SIGNUP PAGE</center></h2>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input 
                name="username" 
                placeholder="enter username" 
                id="username"
                type="text" 
                class="form-control"
                required>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input 
                name="email" 
                placeholder="enter email" 
                id="email"
                type="text" 
                class="form-control"
                required>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input 
                name="password" 
                placeholder="enter password" 
                id="password"
                type="text" 
                class="form-control"
                required>
                <div class="valid-feedback">looks good</div>
            </div>
            <button class="btn btn-success">Signup</button>
        </form>
    </div>

</div>